---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About AOLar.no">
  <main class="grid min-h-[50vh] place-content-center p-2 max-w-lg mx-auto">
    <h1 class="font-semibold">About AOLar.no</h1>
    <p class="text-xl p-4">Aolar.no is a webspace for exploration, tinkering and testing new stuff. </p>
    <p class="text-md p-4">Anders Øksendal Larsen is me... a dude interested in bicycles, frontend-develpment, Lego and other things. Current occupation; bicycle mechanic, ski-technician and "him with the beard" for <a class="text-green-600 hover:text-green-800 focus:text-green-800 hover:underline dark:text-green-200 dark:hover:text-green-300 dark:focus:text-green-300 transition-all duration-300 ease-in-out" href="https://sport1.no/butikker/sport1royken/">Sport1 Røyken</a></p>
    <section class="py-4">
      <h2 class="font-semibold">This site is:</h2>
      <p>- created with <a class="text-green-600 hover:text-green-800 focus:text-green-800 hover:underline dark:text-green-200 dark:hover:text-green-300 dark:focus:text-green-300 transition-all duration-300 ease-in-out" href="https://astro.build">Astro</a> &amp; <a class="text-green-600 hover:text-green-800 focus:text-green-800 hover:underline dark:text-green-200 dark:hover:text-green-300 dark:focus:text-green-300 transition-all duration-300 ease-in-out" href="https://tailwindcss.com/">Tailwindcss</a></p>
      <div class="flex flex-wrap gap-2 align-middle">
        <p>- hosted with <a href="https://netlify.com" class="text-green-600 hover:text-green-800 focus:text-green-800 hover:underline dark:text-green-200 dark:hover:text-green-300 dark:focus:text-green-300 transition-all duration-300 ease-in-out">Netlify</a>
        </p><a href="https://app.netlify.com/sites/aolar/deploys" class="flex"><img class="self-center" alt="netlify status badge" src="https://api.netlify.com/api/v1/badges/4ce45616-d7c6-4d16-bd5c-2eb5c9a5f300/deploy-status"></a>        
      </div>

    </section>
  </main>
</Layout>