---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact AOLar.no">
  <main>
    <form class="grid min-h-[50vh] place-content-center p-2">
      <formfield class="py-2">
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="E-mail"/>        
      </formfield>
      <textarea />
      <input type="submit" class="p-2"/>
    </form>

  </main>
</Layout>

