---
import ThisYear from './FooterYear';
---

<footer class='font-sans p-4 h-min flex justify-center items-center text-center gap-6'>
    <p class='self-end'>
        &copy; <ThisYear client:load /><span class='font-bold px-[0.15rem]'> AOL</span>ar.no
    </p>
</footer>
