---
const thisYear = new Date().getFullYear()
  
---

<footer class="font-sans p-4 h-44 md:flex md:justify-center md:items-center md:text-center md:gap-6">
  <p class="self-end">&copy; {thisYear}<span class="font-bold px-[0.15rem]"> AOL</span>ar.no </p>
</footer>